

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*container that holds all the 5 tables for each criteria*/
.report-container {
    display: flex;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.403);
    justify-content: center;
    font-family: Poppins;
    height: 51vh;
    width: 80vw;
}

/*
    
    
    the next five items control the look of each individual table




*/
.qual-of-work {
    height: 420px;
    width: 250px;
    border-radius: 120px 120px 20px 20px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.timeliness {
    height: 420px;
    width: 250px;
    border-radius: 120px 120px 20px 20px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.communication {
    height: 420px;
    width: 250px;
    border-radius: 120px 120px 20px 20px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.teamwork {
    height: 420px;
    width: 250px;
    border-radius: 120px 120px 20px 20px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.effort-part {
    height: 420px;
    width: 250px;
    border-radius: 120px 120px 20px 20px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}



/*container for the average grade, its the orange part of each table. It sets the color and height, etc*/
.average-grade {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 40%;
    background-image: linear-gradient(to right bottom, #feb281, #fbaa86, #f6a28b, #ef9c91, #e69695);
}

/*controls the text for each criteria i.e. "Teamwork" , "Timeliness" etc.*/
.avg-text {
    margin-top: 60px;
    font-weight: 300;
}

/*controls the text of the average number*/
.avg-num {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
}

/*controls the table and text of the actual grades given by each member*/
.actual-grade {
    height: 60%;
    background-color: rgb(251, 251, 251);
    font-size: 12px;
}
